.container{
    padding-top: 30px;
}

.tv{
    height: 500px;
    background-color: grey;
    width: 500px;
}
.tvi{
    height: 260px;
    width: 350px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
#album{
    height:300px;
}
.list-group{
    width: 400px;
    margin-left: 60px;
}